<%= form_for @user, :url => forgot_password_path(params[:password_reset_token]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.hidden_field :password_reset_token %>
   </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>

  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div> 
  <div class="actions"><%= f.submit "Update Password" %></div>
         <%#= f.submit 'Clear Form', :type => 'reset' %>
<% end %>